main {
  width: 100vw;
  height: 100vh;
  background-color: rgb(222, 217, 217);
  overflow-y: scroll;
}

.articles-container {
  display: grid;
  width: 100%;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 40px;
}

@media screen and (min-width: 500px) {
  .articles-container {
    display: grid;
    width: 100%;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
  }
}

@media screen and (min-width: 850px) {
  .articles-container {
    display: grid;
    width: 100%;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
  }
}