nav {
  text-align: center;
  background-color: rgb(200, 199, 199);
  margin-bottom: 20px;
  h1 {
    margin: 0;
    padding: 10px;
    font-size: 36px;
  }
}

.sub-topics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  button {
    appearance: none;
    margin: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}
